<<<<<<< HEAD
<p style="color: green"><%= notice %></p>

<h1>Artworks</h1>

<div id="artworks">
  <% @artworks.each do |artwork| %>
    <%= render artwork %>
    <p>
      <%= link_to "Show this artwork", artwork %>
    </p>
  <% end %>
</div>

<%= link_to "New artwork", new_artwork_path %>
=======
<h1>All Artworks</h1>

<div class="artwork-list">
  <% @artworks.each do |artwork| %>
    <div class="artwork-card">
      <img src="<%= artwork.image_url %>" alt="<%= artwork.name %> Image">
      <p><%= artwork.name %></p>
    </div>
  <% end %>
</div>
>>>>>>> 7798513341b62449cf324f55282f90d2c1ae1f99
