<h1><%= @artwork.title %></h1>

<% if @artwork.image %>
  <%= image_tag(@artwork.image, alt: @artwork.title) %><br>

<% end %>
<p>
  <strong>Description:</strong><br>
  <%= @artwork.description %><br>
  <strong>Category:</strong><br>
  <%= @artwork.category %><br>
  <strong>Price:</strong><br>
  <%= @artwork.price_per_day %> per day
</p>
<%#= link_to 'Request Booking', new_booking_path(@artwork) %>
<%= link_to "Back to artworks", artworks_path(@artworks) %>
