<div class="card-artwork">
  <%= image_tag(@artwork.image, alt: @artwork.title) %>
  <div class="card-artwork-infos">
    <div>
      <h1><%= @artwork.title %></h1>
      <p><%= @artwork.description %></p>
    </div>
  </div>
  <div>
    <h2 class="artwork-price"><%= @artwork.price_per_day %> per day</h2>
    <div class="btn btn-dark btn-sm">
      <%= link_to 'Request Booking', new_artwork_booking_path(@artwork), :class => "btn" %>
    </div>
    <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
</div>
