<%= form_with(model: [@artwork, @booking], url: artwork_bookings_path(@artwork)) do |form| %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit Booking Request' %>
  </div>
<% end %>
