<div id="artwork-list">
  <% @artworks.each do |artwork| %>
    <div class="artwork-card">
      <%= link_to artwork do %>
        <img src="<%= artwork.image %>" alt="<%= artwork.title %>" />
          <div class="card-artwork-info">
            <strong><%= artwork.title %></strong>
            <%= link_to "edit this artwork", edit_artwork_path(artwork) %>
              bookings for this peice:
            <% artwork.bookings.each do |booking| %>
              <%= booking.message %>
            <% end %>
          </div>
      <% end %>
    <div>
  <% end %>
</div>
<br>
Your bookings:
<% @bookings.each do |booking| %>
  <%# <%= link_to booking.message, booking %><br>
  <%= booking.message %>
<% end %>
